
<!DOCTYPE html>
<html>
<head>
	<title>ارسال ایمیل بازیابی با موفقیت انجام شد</title>
</head>
<body>
   <div  style= "text-align:center;"></style>>
   	<h1>تقاضای ریست رمز فرستاده شد</h1>
   	<p>دستور العمل تنظیم گذر واژه را برایتان ایمیل کردیم اگر با ایمیلی که وارد کردیداکانتی وجود داشته باشد باید به زودی این دستور العمل ها را دریافت کنید</p>
   	<p>اگر ایمیلی دریافت نمی کنید   بررسی کنیدآدرسی که وارد کرده اید همان است که با آن ثبت نام کرده اید و  پوشه اسپم خود را هم چک کنید</p>

   </div>
</body>
</html>